footer {
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	word-break: keep-all;
	font-size: 0.95rem;
	background-color: #f5f2ff;
	height: var(--footer-height);
}

.sp-nowrap {
	display: flex;
	flex-wrap: nowrap;
}

.copyright {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
